@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&family=Yeseva+One&display=swap');

/* font logo my --> font-family: 'Source Code Pro', monospace; */
/* font logo country --> font-family: 'Yeseva One', cursive;*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-decoration: none;
    list-style: none;
}

/****************************************************************************************************/
/******************************************** HEADER ************************************************/
/****************************************************************************************************/

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;

    width: 100vw;
    /* margin: 0 auto; */
    background-color: rgba(48, 48, 48, 0.85);
}   

.logo-container h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 32px;
    font-weight: 800;
    
    color: white;
}

.logo-container h1 span {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    color: red
}

.container-research {
    display: flex;
    justify-content:center;
    align-items: center;
    /* position: absolute; */
    height: 450px;
    width: 100vw;
    overflow: hidden;
    /* background: url(); inserire img casuale api  */
    /* background-size: cover; */
}

form {
    width: 75vmin;
    height: 100%;
    position: relative; 
    margin-right: 5px;
        
} 

input[type="text"]{
    width: 100%;
    padding: 15px 10px;
    border: none;
    font-size: 25px;
    font-family: 'Yeseva One', cursive;
    border-bottom: 1px solid #e9b2b2;
    outline: none;
    border-radius: 5px 5px 0 0;
}

ul {
    list-style: none;
}

.list {
    position: absolute;
    top: 70px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

.list-items {
    padding: 10px 5px;
}

.list-items:hover {
    background-color: #e9b2b2
    
} 

.btn {
    height: 2em;
    width: 5em;
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none;
    margin: 0 2px 0 0;
    cursor: pointer;
    background: #e9b2b2;
    color: white;
    outline: none;
    box-sizing: border-box; 
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
}

.btn:hover {
    background: #c48989;
}

/****************************************************************************************************/
/********************************************** MAIN ************************************************/
/****************************************************************************************************/

.container-main {
    height: 500px;
    width: 100%;
    border: 5px solid red;
}
